{% block body %}

<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Talk2Us</title>
	
	<audio id="myAudio" controls>
	<source src="static/hello.mp3" type="audio/mpeg">
	</audio>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>
<form method="POST">
<body class="ui grid" style="margin: 50px 50px 50px 50px">
<div class="ui segment">
	<div class="ui two column very relaxed grid">
		<div class="column">
		<button name="translate" class="fluid ui green button">Food<br><br><br><br><br><br><br><br><br></button>
		<br>
		<button name="translate" class="fluid ui yellow button">Water<br><br><br><br><br><br><br><br><br></button>
		<br>
		<button name="translate" class="fluid ui red button">Medicine<br><br><br><br><br><br><br><br><br></button>
		</div>
		<div class="column">
		<button name="translate" class="fluid ui orange button">Blanket<br><br><br><br><br><br><br><br><br></button>
		<br>
		<button name="translate" class="fluid ui blue button">Toilet<br><br><br><br><br><br><br><br><br></button>
		<br>
		<button name="translate" class="fluid ui purple button">Phone Call<br><br><br><br><br><br><br><br><br></button>
		</div>
	</div>
	<div class="ui vertical divider">
		PRESS
	</div>
	</div>


</body>
</html>

<style>
	.inline{
		display: inline;
	}
</style>

</form>

{% endblock %}



