<!DOCTYPE html>
<html lang="en">
<head>
	<title>Talk2Us</title>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>

<body class="ui grid" style="margin: 50px 50px 50px 50px">
	<form method="post" id='form'>
		<div class="ui segment" style="width:671px;">
			<div> 
			<div>
				<img src="static/images/hakkas logo.png" alt="Logo" width="180" height="77">
			</div>
			<div class="ui two column very relaxed grid">
				<div class="column">
					<button class="fluid ui red button" type='submit'  name='submit' value='help' style="width: 300px;"><h2>Help</h2><br><img src="static/images/asking.png" width="100" height="100"><br><br><br><br></button>
					<br>
					<button class="fluid ui green button" type='submit' name='submit' value='food'  id="adgas" style="width: 300px;"><h2>Food</h2><br><img src="static/images/salad.png" width="100" height="100"><br><br><br><br></button>
					<br>
					<button class="fluid ui grey button"  type='submit' name='submit' value='drink' style="width: 300px;"><h2>Drink</h2><br><img src="static/images/water (1).png" width="100" height="100"><br><br><br><br></button>	
				</div>
				<div class="column">
					<button class="fluid ui yellow button"  type='submit' name='submit' value='toilet' style="width: 300px;"><h2>Toilet</h2><br><img src="static/images/toilet.png" width="100" height="100"><br><br><br><br></button>
					<br>
					<button class="fluid ui blue button" type='submit' name='submit' value='hygeine' style="width: 300px;"><h2>Hygeine</h2><br><img src="static/images/sponge.png" width="100" height="100"><br><br><br><br></button>
					<br>
					<button class="fluid ui purple button" type='submit' name='submit' value='other' style="width: 300px;"><h2>Other</h2><br><img src="static/images/nurse.png" width="100" height="100"><br><br><br><br></button>
					<br>
					Select a language:
					<select name="language">
						<option value="cn">Chinese</option>
						<option value="sp">Spanish</option>
					</select> 
				</div>
			</div>
		</div>
		</form>
	</div>
</body>
</html>

<style>
	.inline{
		display: inline;
	}
</style>
