<!DOCTYPE html>
<html lang="en">
<head>
	<title>Talk2Us</title>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>

<body class="ui grid" style="margin: 50px 50px 50px 50px">
		
<div class="ui segment" style="width:700px;">
		<div >
				<img src="static/images/hakkas logo.png" alt="Logo" width="180" height="77">
			</div>

		<div class="ui two column very relaxed grid">

			<div class="column">

			<button class="fluid ui green button" id="adgas" style="width: 300px;"><h2>Food</h2><br><br><br><br><br><br><br><br><br><br><br><br></button>
			<br>
			<button class="fluid ui yellow button" style="width: 300px;">Drink <br><br><br><br><br><br><br><br><br><br><br><br></button>
			<br>
			<button class="fluid ui red button" style="width: 300px;">Help<br><br><br><br><br><br><br><br><br><br><br><br></button>
			</div>
			<div class="column">
			<button class="fluid ui orange button" style="width: 300px;">Toilet<br><br><br><br><br><br><br><br><br><br><br><br></button>
			<br>
			<button class="fluid ui blue button" style="width: 300px;">Hygeine<br><br><br><br><br><br><br><br><br><br><br><br></button>
			<br>
			<button class="fluid ui purple button" style="width: 300px;">Other<br><br><br><br><br><br><br><br><br><br><br><br></button>
			</div>
		</div>
		
		</div>
</body>
</html>

<style>
	.inline{
		display: inline;
	}
</style>
